:host{
    display: block;
    padding: 20px 12px;
    position: relative;
    background: #0e0e0e;
}

.main-menu-list {
    display: grid;
    grid-gap: 8px;
    list-style: none;
    padding: 0;
}

.menu-item{
    padding: 16px 12px;
    border: none;
    cursor: pointer;
    background: none;
    color: var(--light-color);
    display: grid;
    grid-template-columns: 18px 1fr max-content;
    align-items: center;
    grid-gap: 12px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    border-radius: 2px;

    &:hover,
    &:focus-visible{
        background: #161616;
        color: var(--primary-color);
    }
}


.sidebar-title-of-subscribers-block{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.to-subscribers-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color);
    text-decoration: none;
    
}

.to-subscribers{
    display: flex;
    gap: 10px;
    align-items: center;
}


.side-bar-footer{
    position: absolute;
    bottom: 20px;
    background: #161616;
    border-radius: 2px;
    padding: 4px 16px;
    display: grid;
    grid-template-columns: 32px 1fr 16px;
    grid-gap: 24px;
    align-items: center;
    width: calc(100% - 60px);
}

.medium-text{
    font-weight: 700;
    cursor: pointer;
}

.settings-link{
    text-decoration: none;
    color: white;

    &:hover{
        color: var(--primary-color);
    }
}