:host{
    display: grid;
    grid-template-columns: 1fr; 
    place-items: center;
    min-height: 70vh;
    gap: 28px;
}

.profile-form{
    display: grid;
    grid-gap: 20px;
}

.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.profile-form__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid var(--light-color);
    background: var(--dark-color);
    height: auto;
}

.selector-roles{
    color: var(--dark-color)
}


.profile-actions{
    margin-top: 20px;
}