.profile-page__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}


.btn-edit-profile{
    text-align: center;
    width: 120px;
    text-decoration: none;
}

.profile-card-wrapper{
    display: grid;
    grid-gap: 8px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
