
<ng-container *ngIf="profile$ | async as profile; else notFound">
  <header class="profile-page__header">
    <app-profile-header [profile]="profile"></app-profile-header>

    <a
      class="btn btn-edit-profile"
      [routerLink]="['/edit-page']"
      [state]="{ profile: profile }"
    >
      Edit profile
    </a>
  </header>
</ng-container>

<ng-template #notFound>
  <div>Profile is not found!</div>
</ng-template>

<div class="profile-card-wrapper">
  <h3 class="header-content">{{'Main' | transloco}} {{'test' | transloco }} {{ 'table' | transloco }} </h3>
  @for (profile of profiles; track profile.id){
          <app-test-card [profile]="profile">
          </app-test-card>
      }
</div>

<div class="profile-card-wrapper">
  <h3 class="header-content">Mocked test table</h3>
  @for (profile of mockedProfiles; track mockedProfiles.id){
          <app-test-card [profile]="profile">
          </app-test-card>
      }
</div>


