@import "fonts";

:root{
    --dark-color: #000000;
    --light-color: #fff;
    --primary-color: #AE7AFF;
}

body{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.btn{
    border: none;
    background: var(--primary-color);
    color: var(--dark-color);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}